{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

{% from "formutils.html" import render_field %}

<div class="display-flex account-page-container">
    <div class="profile-view profile-container">
        <div class="profile-view pp-image-container">
            <img onclick="openPpImageDialog()" class="profile-view pp-image cursor-pointer" src="{{ pp }}">
            <a class="account-link button-link" href="{{ url_for('user', username=user.username) }}">Veřejný profil</a>
            <i onclick="openPpImageDialog()" class="fa-solid fa-image cursor-pointer"></i>
        </div>
        <div class="profile-view profile-details">
            <small title="Account created: {{ user.account_created.date() }}">u/{{ user.username }}</small><small style="float: right; font-size: 70%;">Account created: {{ user.account_created.date() }}</small>
            <div>{{ user.name }}</div>
        </div>
    </div>
    <div style="flex: 60%">
        <div class="profile-view container-form">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset>
                    <div class="form-group">
                        {{ form.pp.label }}
                        {{ form.pp(class="form-control-file") }}
                        {% if form.pp.errors %}
                            <br>
                            {% for error in form.pp.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {{ render_field(form.email) }}
                    {{ render_field(form.username) }}
                    {{ render_field(form.name) }}
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="button-link form-submit") }}
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function openPpImageDialog() {
        button = document.getElementById("pp")
        button.click()
    }
</script>

<script>
    document.getElementById('account').classList.add('active');
</script>

{% endblock %}