{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

{% from "formutils.html" import render_field %}
<div class="container-form">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Změna hesla</legend>
            {{ render_field(form.password) }}
            {{ render_field(form.confirm_password) }}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="button-link form-submit") }}
        </div>
    </form>
</div>
{% endblock %}