{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

{% from "formutils.html" import render_field %}
<div class="container-form" style="max-width: 650px;">
    <form method="POST" action="" enctype="multipart/form-data" onsubmit="return confirm('Uložit změny?')">
        {{ form.hidden_tag() }}
        <fieldset>
            {{ render_field(form.name) }}
            <div class="form-group">
                {{ form.add_files.label }}
                {{ form.add_files(class="form-control-file") }}
                {% if form.add_files.errors %}
                    <br>
                    {% for error in form.add_files.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.remove_files.label }} <br>
                {{ form.remove_files(class="form-select-multiple") }}
                {% if form.remove_files.errors %}
                    <br>
                    {% for error in form.remove_files.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            {{ render_field(form.item_type) }}
            {{ render_field(form.tags) }}
            {{ render_field(form.prof) }}
            {{ render_field(form.note) }}
            {{ render_field(form.subject) }}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="button-link form-submit") }}
        </div>
    </form>
</div>

<script>
    const multiSelectWithoutCtrl = ( elemSelector ) => {
        let options = [].slice.call(document.querySelectorAll(`${elemSelector} option`));
        options.forEach(function (element) {
            element.addEventListener("mousedown", 
                function (e) {
                    e.preventDefault();
                    element.parentElement.focus();
                    this.selected = !this.selected;
                    return false;
                }, false );
        });
    }

multiSelectWithoutCtrl('.form-select-multiple')
</script>

{% endblock %}