{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

<div>
    <br><br>
    <p>
        Tahle stránka slouží ke sdílení studijních materiálú pro studenty <a href="https://gekom.cz">GEKOMu</a>. 
        Budu moc rád, pokud budete přidávat své vlastní materiály - zápisky z hodin, prezentace, pdf učebnic... 
        Při přidávání prosím popište co nejlépe obsah příspěvku, aby šel dobře najít pomocí <a href="{{ url_for('search') }}">vyhledávání</a>.
    </p>
    <br><br><br>
    <small>
        Tato stránka a veškeré její části jsou k dispozici pro nekomerční využití na <a href="https://github.com/cenekp74/zapisky">githubu</a>.
    </small>
</div>

{% endblock %}