{% extends 'base.html' %}

{% block head %}
<meta property="og:title" content="{{ item.name }}">
<meta property="og:description" content="Předmět: {{ item.subject }}    Typ: {{ item.item_type }}">
<link rel="canonical" href="https://notesdb.cz/item/{{ item.id }}">
<script src="{{ url_for('static', filename='js/spotlight.bundle.js') }}"></script>
{% endblock %}


{% block body %}

<div class="item-view">
    <h2>{{ item.name }}</h2>
    {% if my %}
    <div style="margin-bottom: .5rem;">
        <a href="{{ url_for('edit_item', item_id=item.id) }}" class="button-link">Upravit</a>
        <a onclick="return confirm('Opravdu si přejete příspěvek nevratně smazat?')" href="{{ url_for('delete_item', item_id=item.id) }}" class="button-link">Smazat</a>
    </div>
    {% endif %}
    <table>
        <tr>
            <td><b>Typ:</b></td>
            <td style="text-transform: lowercase;">{{ item.item_type }}</td>
        </tr>
        <tr>
            <td><b>Autor:</b></td>
            <td><a href="{{ url_for('user', username=item.author_username) }}">{{ item.author_username }}</a></td>
        </tr>
        <tr>
            <td><b>Tagy:</b></td>
            <td>{{ item.tags }}</td>
        </tr>
        {% if item.subject %}
        <tr>
            <td><b>Předmět:</b></td>
            <td style="text-transform: lowercase;">{{ item.subject }}</td>
        </tr>
        {% endif %}
        {% if item.prof %}
        <tr>
            <td><b>Profesor:</b></td>
            <td>{{ item.prof }}</td>
        </tr>
        {% endif %}
    </table>
    <small class="views">{{ item.views }} zobrazení</small>
    {% if item.note %}
    <pre class="note">Poznámka:<br><br>{{ item.note }}</pre>
    {% endif %}
    <div class="files">
        <h2>Soubory:</h2><br>
        <div>
            {% for filename in item.filenames.split(';') %}
            <div>
                <a target="_blank" href="{{ url_for('static', filename='/items/{}/{}'.format(item.folder, filename)) }}">{{ filename }}</a><a class="download" href="{{ url_for('static', filename='/items/{}/{}'.format(item.folder, filename)) }}" download><i class="fa fa-download"></i></a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="spotlight-group images">
        {% for image in images %}
        <img class="spotlight" src="{{ url_for('static', filename='/items/{}/{}'.format(item.folder, image)) }}">
        {% endfor %}
    </div>
</div>
{% endblock %}