{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

{% from "formutils.html" import render_field %}
<div class="container-form">
    <form method="POST" action="">
        <legend>RESET HESLA</legend>
        <fieldset>
            <div class="form-group">
                <label>Email</label>
                <input name="email" class="form-control" type="email">
            </div>
        </fieldset>
        <div class="form-group">
            <input class="button-link form-submit" type="submit" value="Odeslat">
        </div>
    </form>
</div>
{% endblock %}