{% extends 'base.html' %}

{% block head %}
<meta property="og:title" content="{{ user.name }}">
<meta property="og:description" content="{{ user.username }}      Počet příspěvků: {{ user.items|length }}">
{% endblock %}


{% block body %}

{% from "formutils.html" import render_field %}

<div class="display-flex account-page-container">
    <div class="profile-view profile-container">
        <div class="profile-view pp-image-container">
            <img class="profile-view pp-image" src="{{ url_for('static', filename='pp/' + user.pp) }}">
            {% if my %}
            <a class="account-link button-link" href="{{ url_for('account') }}">Upravit</a>
            {% endif %}
        </div>
        <div class="profile-view profile-details">
            <small title="Account created: {{ user.account_created.date() }}">u/{{ user.username }}</small><small style="float: right; font-size: 70%;">Account created: {{ user.account_created.date() }}</small>
            <div>{{ user.name }}</div>
        </div>
    </div>
    <div class="items-container" style="flex: 60%">
        {% for item in user.items %}
        <a class="item-box" href="{{ url_for('view_item', item_id=item.id) }}">
            <div class="item">
                <div class="item-name">{{ item.name }}</div>
                <div>{{ item.subject }}</div>
                <small>{{ item.item_type }}</small>
                <div class="item-details">
                    <div></div>
                    <div>{{ item.datetime_uploaded.date() }}</div>
                </div>
            </div>  
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}