{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

{% from "formutils.html" import render_field %}

<div class="display-flex account-page-container">
    <div class="profile-view profile-container">
        <div class="profile-view pp-image-container">
            <img class="profile-view pp-image cursor-pointer" src="{{ url_for('static', filename='pp/' + user.pp) }}">
            {% if my %}
            <a class="account-link button-link" href="{{ url_for('account') }}">Upravit</a>
            {% endif %}
        </div>
        <div class="profile-view profile-details">
            <small title="Account created: {{ user.account_created.date() }}">u/{{ user.username }}</small><small style="float: right; font-size: 70%;">Account created: {{ user.account_created.date() }}</small>
            <div>{{ user.name }}</div>
        </div>
    </div>
    <div style="flex: 60%">
        
    </div>
</div>

<script>
    document.getElementById('account').classList.add('active');
</script>

{% endblock %}