{% extends 'base.html' %}

{% block head %}
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='/css/search.css') }}">
{% endblock %}


{% block body %}

<form class="search-bar" hx-post="{{ url_for('basic_search_query') }}" hx-target="#search-results">
    <input type="text" class="search-input" name="q">
    <button class="fa fa-search" type="submit"></button>
</form>

<span id="no-results" style="visibility: hidden;">Žádné výsledky</span>

<div id="search-results">
</div>

<script>
    document.getElementById('search').classList.add('active');
</script>
{% endblock %}