{% extends 'base.html' %}

{% block head %}
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='/css/search.css') }}">
{% endblock %}


{% block body %}

<form class="search-bar" hx-target="#search-results" hx-indicator="#spinner" hx-trigger="submit, load">
    <input hx-post="{{ url_for('search_query') }}" type="text" class="search-input" name="q">
    <div class="search-options" onclick="stopEventPropagation(event)">
        <b>Hledat v:</b> <br>
        <input type="checkbox" name="name" checked> Název <br>
        <input type="checkbox" name="tags" checked> Tagy <br>
        <input type="checkbox" name="files"> Soubory <br>
        <input type="checkbox" name="note"> Poznámka <br>
        <b>Filtrovat:</b> <br>
        Profesor <input type="text"  name="prof" checked> <br>
        Předmět <select name="subject">
            {% for subject in subjects %}
            <option value="{{ subject }}">{{ subject }}</option>
            {% endfor %}
        </select>
    </div>
    <button hx-post="{{ url_for('search_query') }}" class="fa fa-search" type="submit"></button>
    <button onclick="toggleOptions(event)" class="fa fa-filter"></button>
</form>

<span id="no-results" style="visibility: hidden;margin-top: 1rem;">Žádné výsledky</span>
<img id="spinner" class="indicator" src="{{ url_for('static', filename='/img/spinner.svg') }}">

<div id="search-results" class="items-container items-container-full">
    
</div>


<script>
    document.getElementById('search').classList.add('active');
</script>

<script>
    function stopEventPropagation(event) {
        event.stopPropagation()
    }
    function toggleOptions(event) {
        event.stopPropagation()
        options = document.getElementsByClassName('search-options')[0];
        options.classList.toggle('dropped')
    }
    function hideOptions(event) {
        options = document.getElementsByClassName('search-options')[0];
        options.classList.remove('dropped')
    }
    document.addEventListener('click', () => {
        hideOptions(event)
    })
</script>
{% endblock %}